body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 40px;
}

.primary-btn:link {
  color: green;
  padding: 10px;
}

.primary-btn:visited {
  color: orange;
}

.primary-btn:active {
  color: black;
  border: 4px solid green;
}

ul li:first-child {
  background-color: violet;
}

ul li:last-child {
  background-color: red;
}

/* nth child */
/* an+b */

/* below nth-child(4) 4th li background-color will be green */
ul li:nth-child(4) {
  background-color: green;
}

/* below nth-child(2n) the index of li starts from 0.
 so 2*0 is 0 the item-1 in the will be left. 
 2*1 is 2 so the item-2 will be blue.
 Same way 2*2 is 4 then item-4 will be blue.
continues... */
ul li:nth-child(2n) {
  background-color: blue;
}

/* below nth-child(2n+1) the index of li starts from 0. 
so (2*0+1 = 1) the item-1 in the will be brown. 
(2*1+1=3) so the item-3 will be brown.
same way (2*2+1=5)then item-5 will be brown.
 continues... */
ul li:nth-child(2n + 1) {
  background-color: brown;
}

h2::first-letter {
  background-color: red;
}

p::first-line {
  background-color: burlywood;
}

::selection {
  color: greenyellow;
  background-color: black;
}

/* before and after */
h3::before {
  content: "any ";
}

h3::after {
  content: "*";
}

.important::after {
  content: "important";
  background-color: red;
  color: white;
  padding: 0.2rem;
  font-size: 0.5rem;
  margin-left: 10px;
  vertical-align: middle;
}
